@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Quicksand:wght@500&display=swap');
.popup-heading {
    padding: 3%;
}

h2 {
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-weight: 400;
}

li {
    padding: 2px;
    font-family: 'Quicksand', sans-serif;
}

li:hover {
    cursor: pointer;
    color: rgb(177, 167, 29);
    padding: .3%;
}

.extension-list {
    padding-left: 10%;
}

.current-tabId {
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#para {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    font-size: 1.1em;
    cursor: default;
    background-color: rgb(218, 224, 236);
}